* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1000px;
  margin: 10vh auto;
  padding: 3vh 0;
  background: #1f1d1d;
}

.slider-container {
  margin: 0 auto;
  width: 90%;
  height: 600px;
  background: #1f1d1d;
  overflow: hidden;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.navigation-buttons__button {
  width: 20px;
  height: 20px;
  background: #3245a6;
  border: 1px #3245a6 solid;
  border-radius: 50%;
  cursor: pointer;
}

.navigation-buttons__button:hover {
  background: #ffffff;
}

input[type='radio'] {
  display: none;
}

.slides {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.slides-images {
  display: flex;
  width: 4500px;
  height: 500px;
  overflow: hidden;
}

.slides-images__image {
  width: 20%;
  height: 100%;
  transition: 0.5s ease-in-out;
  background-repeat: no-repeat;
  background-size: cover;
}

.slides-images__image_1 {
  background-image: url('./images/image-1.jpg');
}
.slides-images__image_2 {
  background-image: url('./images/image-2.jpg');
}
.slides-images__image_3 {
  background-image: url('./images/image-3.jpg');
}
.slides-images__image_4 {
  background-image: url('./images/image-4.jpg');
}
.slides-images__image_5 {
  background-image: url('./images/image-5.jpg');
}

.slides-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slides-info {
  display: flex;
  width: 3250px;
  overflow: hidden;
}

.slides-info__text {
  width: 20%;
  transition: 0.5s ease-in-out;
}

.slides-info__text p {
  display: inline-block;
  width: 100%;
}

#btn1:checked ~ .slides-images .slides-images__image_1 {
  margin-left: 0;
}

#btn2:checked ~ .slides-images .slides-images__image_1 {
  margin-left: -20%;
}

#btn3:checked ~ .slides-images .slides-images__image_1 {
  margin-left: -40%;
}

#btn4:checked ~ .slides-images .slides-images__image_1 {
  margin-left: -60%;
}

#btn5:checked ~ .slides-images .slides-images__image_1 {
  margin-left: -80%;
}

@keyframes textMoving1 {
  0% {
    margin-left: 100px;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes textMoving2 {
  0% {
    margin-left: 100px;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes textMoving3 {
  0% {
    margin-left: 100px;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes textMoving4 {
  0% {
    margin-left: 100px;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes textMoving5 {
  0% {
    margin-left: 100px;
  }
  100% {
    margin-left: 0;
  }
}

.slide-text {
  color: #ffffff;
}

#btn1:checked ~ .slides-description .slide-info span::after {
  content: 'Нельзя просто так взять и выполнить таск вовремя';
  animation: textMoving1 0.5s;
}
#btn2:checked ~ .slides-description .slide-info span::after {
  content: 'Когда успел к дедлайну';
  animation: textMoving2 0.5s;
}
#btn3:checked ~ .slides-description .slide-info span::after {
  content: 'Когда не умеешь делать мемы :(';
  animation: textMoving3 0.5s;
}
#btn4:checked ~ .slides-description .slide-info span::after {
  content: 'Дедлайн близко!';
  animation: textMoving4 0.5s;
}
#btn5:checked ~ .slides-description .slide-info span::after {
  content: 'Делаешь слайдер? Там финал по инту...';
  animation: textMoving5 0.5s;
}

#btn1:checked
  ~ .slides-description
  .navigation-buttons
  .navigation-buttons__button_1 {
  background: none;
}

#btn2:checked
  ~ .slides-description
  .navigation-buttons
  .navigation-buttons__button_2 {
  background: none;
}

#btn3:checked
  ~ .slides-description
  .navigation-buttons
  .navigation-buttons__button_3 {
  background: none;
}

#btn4:checked
  ~ .slides-description
  .navigation-buttons
  .navigation-buttons__button_4 {
  background: none;
}

#btn5:checked
  ~ .slides-description
  .navigation-buttons
  .navigation-buttons__button_5 {
  background: none;
}

#btn1:checked:hover
  ~ .slides-description
  .navigation-buttons
  .navigation-buttons__button_1 {
  background: none;
  border-color: #ffffff;
}

#btn2:checked:hover
  ~ .slides-description
  .navigation-buttons
  .navigation-buttons__button_2 {
  background: none;
  border-color: #ffffff;
}

#btn3:checked:hover
  ~ .slides-description
  .navigation-buttons
  .navigation-buttons__button_3 {
  background: none;
  border-color: #ffffff;
}

#btn4:checked:hover
  ~ .slides-description
  .navigation-buttons
  .navigation-buttons__button_4 {
  background: none;
  border-color: #ffffff;
}

#btn5:checked:hover
  ~ .slides-description
  .navigation-buttons
  .navigation-buttons__button_5 {
  background: none;
  border-color: #ffffff;
}

.button-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.button-wrapper:hover > .navigation-buttons__button {
  background: #ffffff;
}
